footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-logo {
  height: 90px;
}

.copyright {
  height: 1rem;
}
