.header {
    background-color: black;
    color: white;
}

.header-logo {
    height: 90px;
  }

.saludo {
    margin-left: 15%;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.iconos {
    margin: 30px;
    font-size: 40px;
    width: 8%;
    display: flex;
    justify-content:space-between;

}