.novedades {
    margin-left: 40px;
    width: 90%;
    background-color: white;
    padding: 25px;
}

.titulo {
    color: #fb1720;
    margin: 20px auto 40px auto;
}

.profesional{
    font-size: 24px;
    font-weight:500;
    margin: 5px 0 5px 0;
}

.novedadBox {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px #f6eded;
    margin-top: 10px;
}

.novedadBoxFecha {
    width: 40%;
    background-color: #ff464d;
    color: white;
    padding: 5px;
    border-radius: 10px; 
}

.novedadBoxFecha p{
    margin-top: 5px;
    margin-left: 8px;
}