.cuerpo {
    width: 100%;
    background-color: white;
    padding: 25px;
}

.titulo {
    color: #fb1720;
    margin: 20px auto 40px 60px;
}

.turnosBox {
    width: 80%;
    padding: 20px;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px #7c7676;
    margin: 20px auto;
}

.fc-button {
    font-family: 'Arial', sans-serif;
    height: 50px;
    font-size: 18px; 
}

.fc-daygrid-day {
    font-size: 18px; 
    line-height: 15px;
}

.fc-toolbar .fc-prev-button,  
.fc-toolbar .fc-next-button {
    background-color: rgb(209, 208, 208); 
    color: black; 
    border: none; 
    border-radius: 5px; 
    padding: 0 10px; 
    margin: auto 15px; 
    cursor: pointer; 
}
  
.fc-toolbar .fc-prev-button:hover, 
.fc-toolbar .fc-next-button:hover {
    background-color: red; 
}