.cuerpoEdit {
    width: 90%;
    margin: 40px;
    display: flex;
    gap: 40px;
}

.fotoSubir {
    width: 300px;
}

h3{
    padding: 0 0 0 50px;
    margin: 15px 0;
}

input{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black ;
    margin: 5px 0;
}

.fila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

select{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black ;
    margin: 5px 0;
}

.info-1, .info-2, .info-3{
    margin: 20px 0 0;
}

.info-1 div div div{
    display: flex;
    justify-content: space-between;
}

/*#usuario{
    width: 100%;
}*/

.info-2 div{
    display: flex;
    flex-direction: column;
}

.info-2 div textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black ;
    margin: 5px 0;
}

#Barrio, #email{
    width: 100%;
}
   
.contenedor-guardar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 50%;
}

.guardar{
    padding: 20px 40px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: pointer;
}