.searchbar2 {
  width: 1200px;
  display: flex;
  padding: 10px;
  margin: 10px auto;
}

.buscar2 {
  padding: 20px 40px;
  border-style: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

.inputBuscador2 {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px auto 0;
  justify-content: space-between;
}

.inputsBuscar2{
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #7F7F7F;
  margin: 10px 0;
}

.disciplina{
  color: #7F7F7F;
  text-align: left;
  width: 100%;
}

.texto_rojo {
  color: #fb1720;
  margin: 20px auto 20px 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.lista_prof {
  width: 100%;
  box-shadow: 0px 0px 10px #f1d2d2;
  border-radius: 10px;
  margin: 30px auto 0;
  padding-bottom: 6px;
}
  
.encabezado {
  display: flex;
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 20px;
  gap: 80px;
  text-align: center;
  font-weight: 500;
}

.columna {
  flex: 1; 
  font-size: 20px; 
  width: 100px;
  margin: auto 0;
}
  
.titulos-encab {
  background-color: rgb(231, 229, 229);
  color: black;
  font-size: 20px;
}
  
.fila-prof {
  background-color: white;
  display: flex;
  width: 99%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 10px;
  gap: 80px;
  text-align: center;
  margin: 4px 6px 4px 6px;
}

.ver {
  width: 80px; /* Ajusta el ancho del botón según lo necesites */
  height: 40px;
  border-style: none;
  background-color: red;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  align-self: center; /* Para centrar verticalmente el botón en la fila */
}

