.searchbar {
    width: 1200px;
    display: flex;
    padding: 10px;
    margin: 20px auto;
}

.h2 {
    color: white;
    position: absolute;
}

.buscar {
    padding: 20px 40px;
    border-style: none;
    border-radius: 12px;
    color: white;
    background-color: red;
    cursor: pointer;
}

.inputsBuscador{
    display: flex;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 50px 0 0 0;
    justify-content: space-between;
    color: #7F7F7F;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.disciplina{
    color: #7F7F7F;
    text-align: left;
}