/*.searchbar {
    width: 90%;
    display: flex;
    padding: 10px;
    margin: 20px auto;
    flex-direction: column;
}

.h2Busca {
    color: white;
    margin: 20px auto 20px 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}

.buscar {
    padding: 15px 40px;
    border-style: none;
    border-radius: 12px;
    color: white;
    background-color: red;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.inputsBuscar{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #7F7F7F;
    margin: 10px 0;
}

.inputsBuscador{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 50px 0 0 0;
    justify-content: space-between;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.disciplina{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #7F7F7F;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .buscar {
        font-size: 0.8em;
    }
}*/

.searchbar {
    width: 90%;
    display: flex;
    padding: 10px;
    margin: 20px auto;
    flex-direction: column;
}

.h2Busca {
    color: white;
    margin: 20px auto 20px 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}

.buscar {
    padding: 15px 40px;
    border-style: none;
    border-radius: 12px;
    color: white;
    background-color: red;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

.inputsBuscar {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #7F7F7F;
    margin: 10px 0;
}

.inputsBuscador {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px 0 0 0;
    justify-content: space-between;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.disciplina {
    padding: 10px;
    font-size: 20px;
    width: 48%;
    border-radius: 10px;
    border: 1px solid #7F7F7F;
    margin: 10px 0;
}

/* Ajuste para tama침os de pantalla m치s peque침os */
/*@media only screen and (max-width: 600px) {
    .disciplina {
        width: 100%; /* Ocupa el ancho completo en pantallas peque침as 
        margin: 10px 0; /* Ajuste del margen inferior 
    }
}*/