.searchbar {
    width: 1200px;
    display: flex;
    padding: 10px;
    margin: 20px auto;
}

.h2 {
    color: white;
    position: absolute;
}

.buscar {
    padding: 20px 40px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

.inputsBuscador{
    display: flex;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 50px 0 0 0;
    justify-content: space-between;
}