.searchbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
}

.h2 {
    color: white;
}

.buscar {
    padding: 20px 40px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: pointer;
}