.searchbar2 {
  width: 1200px;
  display: flex;
  padding: 10px;
  margin: 20px auto;
}

.t2 {
  color: black;
  position: absolute;
}

.buscar2 {
  padding: 20px 40px;
  border-style: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

.inputsBuscador2 {
  display: flex;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 50px auto 0;
  justify-content: space-between;
}

.texto_rojo {
  color: red;
}

.lista_prof {
  width: 100%;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  margin: 15px auto 0;
}
  
.encabezado {
  display: flex;
  width: 100%;
  background-color: rgb(231, 229, 229);
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 20px;
  gap: 80px;
  text-align: center;
}

.columna {
  flex: 1; 
  font-size: 20px; 
  width: 100px;
  margin: auto 0;
}
  
.titulos-encab {
  background-color: rgb(231, 229, 229);
  color: black;
  font-size: 20px;
}
  
.fila-prof {
  background-color: white;
  display: flex;
  width: 100%;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 10px;
  gap: 80px;
  text-align: center;
}

.ver {
  width: 80px; /* Ajusta el ancho del botón según lo necesites */
  height: 40px;
  border-style: none;
  background-color: red;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  align-self: center; /* Para centrar verticalmente el botón en la fila */
}

