.sidebar {
    width: 14%;
    border-style: hidden;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 6px 4px #fff5f5;
    text-align: center;

}

.sidebarIcons {
    font-size: 60px;
}

.sidebar ul {
    list-style-type: none;
    font-size: 14px;
    margin: 10px;
}

.sidebar li {
    margin-bottom: 30px;
}