.novedades {
    margin-left: 40px;
    width: 90%;
    background-color: white;
    padding: 25px;
}

.tituloNov {
    text-align: left;
    color: #fb1720;
    margin: 20px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.novedadBox {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px #f6eded;
    margin-top: 20px;
}

.boxProf {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.boxFecha {
    width: 90%;
    background-color: #ff464d;
    color: white;
    padding: 15px;
    border-radius: 10px; 
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
}

.boxFecha p{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
    display:flex;
    justify-content: space-around;
}