<!--C16-74-n-python\backend\myproject\users\templates\perfil_professional.html-->
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profesional</title>
</head>
<body>
    <h1>Perfil del Profesional</h1>
    <div>
        <h2>{{ professional.user_id.get_full_name }}</h2>
        <h2>Nombre: {{ professional.user_id.first_name }}         </h2>
        <h2>Apellido: {{ professional.user_id.last_name }}         </h2>
        <h2>Especialidad: {{ professional.speciality }}</h2>
        <p>Descripción: {{ professional.description }}</p> 
        <br>

        <p>Teléfono : {{ professional.user_id.phone_number }}</p>
        <p>Tarifa por sesión: ${{ professional.session_rate }}</p>
        <br>

        <h2>Horarios Disponibles:</h2>
        <ul>
        {% for availability in availabilities %}
            <li>{{ availability.day_of_week }} - {{ availability.start_time }} a {{ availability.end_time }}</li>
        {% endfor %}
        </ul>
        <!--Agregar Botón para Reservar Turno-->
    </div>
</div>

</body>
</html>


