h2{
    font-size: 30px;
    text-align: center;
}

h2 span{
    color: red;
}

input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black ;
    margin: 5px 0;
}

.unico input {
    width: 100%;
}

.fila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info{
    margin: 20px 0 0;
}

.contenedor-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 50%;
}

.enviar{
    padding: 20px 40px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

.disabled {
    padding: 20px 40px;
    border-style: none;
    color: white;
    background-color: red;
    cursor: not-allowed;
    opacity: 0.5;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.caja input {
    width: 30px;
}