<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en la Reserva</title>
</head>
<body>
    <h1>Error al Reservar Turno</h1>
    <p>Ocurrió un error al intentar reservar un turno:</p>
    <ul>
        <li>{{ messages }}</li> <!-- Mensajes de error mostrados por Django -->
    </ul>
    <!-- Puedes agregar aquí cualquier otra información relevante o redirigir al usuario a otra página -->
</body>
</html>
