* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: arial;
}

body{
  background-color: rgb(000, 000, 000);
  padding: 0;
}

h2 {
  color: black;
}

.hover:hover {
  background-color: white;
  outline: 1px solid black;
  border-radius: 12px;
  color: black;
  cursor: pointer;
}

.hover:active {
  background-color: red;
  color: white;
}